<!DOCTYPE html>
<html>
<title>Tableau de marche</title>
<body>
	<!-- <embed data="{{ tableau_marche_pdf }}" type="application/pdf" width="100%" height="100%"> -->
		<!-- <iframe src="{{ tableau_marche_pdf }}" width="100%" height="100%" style="border: none;"> -->
			<!--Ce navigateur n'affiche pas les PDF. Cliquez pour sauvegarder le document: --><a href="{{ tableau_marche_pdf }}">Télécharger le PDF</a>
		<!-- </iframe> -->
	<!-- </embed> -->
	<!-- <p> -->
	<!-- <img src='{{ tableau_marche }}'></img> -->
</body>
</html>
